// Bootstrap
@import url("../../libraries/bootstrap-4.0.0-beta.3-dist/css/bootstrap.css");

// Global > Variables

// Global > Variables > Media Queries
$screen-xl-min: 1200px;
$screen-lg-min: 992px;
$screen-md-min: 768px;
$screen-sm-min: 576px;

// Global > Variables > Colors
$black: #000000;
$grey-600: #919191;
$grey-300: #cccccc;
$grey-050: #fafafa;
$white: #ffffff;
$green-500: #1aaa55;
$green-600: #168f48;
$green-700: #12753a;
$green-800: #0e5a2d;
$red-400: #e15139;
$red-050: #fef6f5;
$brand-primary: #e65328;
$base-positive-tertiary: #dfdfdf;
$base-negative-tertiary: #a6a6de;

// Global > Variables > Fonts
$sans-serif: "Source Sans Pro", sans-serif;

// Global > Mixins

// Global > Mixin > Border Radius
@mixin border-radius($border-radius-top, $border-radius-right, $border-radius-bottom, $border-radius-left) {
	-webkit-background-clip: padding-box;
    -webkit-border-radius: $border-radius-top $border-radius-right $border-radius-bottom $border-radius-left;
    -moz-background-clip: padding-box;
    -moz-border-radius: $border-radius-top $border-radius-right $border-radius-bottom $border-radius-left;
    -o-background-clip: padding-box;
    -o-border-radius: $border-radius-top $border-radius-right $border-radius-bottom $border-radius-left;
    background-clip: padding-box;
    border-radius: $border-radius-top $border-radius-right $border-radius-bottom $border-radius-left;
}

// Global > Mixins > Gradient (Directional)
@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient($deg, $start-color, $end-color); // Opera 12
  background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
}

// Global > Mixin > Box Shadow
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
	-webkit-box-shadow:$top $left $blur $color #{$inset} !important;
	-moz-box-shadow:$top $left $blur $color #{$inset} !important;
	box-shadow:$top $left $blur $color #{$inset} !important;
}

// Global > Fonts

// Global > Fonts > Source Sans Pro
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

// Global
body {
  color: $black;
  font-family: $sans-serif;
  font-weight: 300;
  
  // Global > Typography
  h1 {
    font-weight: 200;
  }
  
  h2 {
    color: $grey-600;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.5;
    text-transform: uppercase;
  }
  
  p.lead {
    font-weight: 200;  
  }
  
  small {
    font-weight: inherit;
    font-size: 14px;
  }
  
  // Global > Buttons
  .btn {
    font-weight: 400 !important;
    @include box-shadow(0, 1px, 2px, rgba($black, .25));
    
    &:hover {
       @include box-shadow(0, 1px, 2px, rgba($black, .5));
    }
    
    &:active {
      @include box-shadow(0, 1px, 2px, rgba($black, .5)) ; 
    }
    
    &:focus {
      @include box-shadow(0, 1px, 2px, rgba($black, .5));
    }
    
    &.btn-success {
      border-color: $green-600;
      background-color: $green-500;
      
      &:hover {
        border-color: $green-700;
      }
      
      &:active
       {
        background-color: $green-600 !important;
        border-color: $green-800;
      }
    }
    
    &.btn-outline-light {
      border-color: rgba($white, .25);
      @include box-shadow(0, 0, 0, transparent);
      
      &:hover {
        color: $white !important;
        background-color: transparent;
        border-color: $white;
      }
      
      &:active {
        background-color: transparent !important;
      }
    }
  }
  
  // Global > Forms
  form {
    .form-group {
      label {
        font-weight: 400;
        
        &.form-check-label {
          font-weight: 300;
        }
        
        &.error {
          margin: 8px 0 0 0;
          color: $red-400;
          font-size: 12px;
          font-weight: 300 !important;
        }
      }
      
      input[type="text"],
      input[type="email"], 
      textarea {
        @include box-shadow(0, 1px, 2px, rgba($grey-300, .25), inset);
        background-color: $grey-050;
                      
        &.is-invalid {
          color: $red-400;
          @include box-shadow(0, 1px, 2px, rgba($red-400, .25), inset);
          background-color: $red-050;
          
          &::placeholder {
            color: $red-400;
          }
        }
      }
      
      select {
        @include box-shadow(0, 1px, 2px, rgba($grey-300, .25));
        
        &:focus {
          @include box-shadow(0, 1px, 2px, rgba($grey-300, .25));
        }
        
        &.is-invalid {
          @include box-shadow(0, 1px, 2px, rgba($red-400, .25));
        }
      }
      
      input[type="text"],
      input[type="email"],
      textarea, 
      select {
        font-weight: 300;
        border-color: $grey-300;
        
        &:focus {
          border-color: $grey-600;
        }
        
        &.is-invalid {
          border-color: $red-400;
        }
      }
    }
  }
  
  
  // Global > Cards
  .card {
    border: none;
    
    // Global > Cards > Header
    .card-header {
      background-color: $grey-050;
      border-bottom-color: $grey-300;
    }
    
    // Global > Cards > Footer
    .card-footer {
      background-color: $grey-050;
      border-top-color: $grey-300;
    }
  }
  
  // Global > Layout
  
  .wrapper {
    width: 100%;
    height: 100%;
    padding: 16px 0;
    position: fixed;
    overflow: scroll;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
    @include gradient-directional(#1A1A40, #805DE7, 180deg);
    
    @media (min-width: $screen-sm-min) {
      padding: 24px 0;
    }
    
    @media (min-width: $screen-md-min) {
      padding: 32px 0;
    }
    
    @media (min-width: $screen-lg-min) {
      padding: 48px 0;
    }
    
    @media (min-width: $screen-xl-min) {
      padding: 64px 0;
    }
  }
    
	// Webcast Landing Page
	@import "webcast-landing-page";
}