a#more-information-toggle {
  &:after {
    content: " More";
  }
  
  &.expanded {
    &:after {
      content: " Less";
    }
  }
}

  .container-fluid {     
    .row {      
      .column-primary {
        h2 {        
          color: rgba($white, .5);
        }
                
        header {          
          margin-bottom: 12px;
          
          @media (min-width: $screen-sm-min) {
            margin-bottom: 16px;
          }
          
          @media (min-width: $screen-md-min) {
            margin-bottom: 24px;
          }
          
          .btn {
            margin-top: 12px;
            border: none;
          }
        }
        
        .title-container {
          margin-bottom: 0;
          
          h1 {
          }
        }
        
        .metadata-container {
          padding-top: 16px;
          border-width: 1px 0;
          border-style: solid;
          border-color: rgba($white, .25);
          margin-bottom: 16px;
          
          @media (min-width: $screen-sm-min) {
            margin-bottom: 24px;
          }
          
          @media (min-width: $screen-md-min) {
            margin-bottom: 32px;
          }
          
          .date-container,
          .time-container {
            padding-bottom: 16px;
            
            .media {
              float: left;
              margin-right: 12px;
              
              img {
                position: relative;
                top: 4px;
                left: -2px;
              }
            }
            
            .info {
              h2 {
                margin: 0;
              }
            }
          }
        }
        
        .description-container {
          margin-bottom: 16px;
          
          @media (min-width: $screen-sm-min) {
            margin-bottom: 24px;
          }
          
          @media (min-width: $screen-md-min) {
            margin-bottom: 32px;
          }
          
          a#more-information-toggle {
          }
        }
        
        .presenter-container {
          margin-bottom: 16px;
          
          @media (min-width: $screen-sm-min) {
            margin-bottom: 24px;
          }
          
          @media (min-width: $screen-md-min) {
            margin-bottom: 0;
          }
          
          .card {
            @include box-shadow(0, 1px, 2px, rgba($black, .15), inset);
            background-color: rgba($black, .15);
            
            .card-body {
              h2 {
              }
              
              .bio {
                margin-bottom: 20px;
                border-bottom: 1px solid rgba($white, .25);  
              }
              
              .title {
                img.avatar {
                  width: 48px;
                  margin-right: 16px;
                  float: left;
                  @include border-radius(50%, 50%, 50%, 50%);
                  border: 2px solid $white;
                }
                
                h3 {
                  margin: 0;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 1.5;
                }
                
                h4 {
                  margin: 0;
                  font-size: 16px;
                  font-weight: 200;
                  line-height: 1.5;
                }
              }
            }
          }
        }
      }
      
      .column-secondary {        
        .card {
          margin-bottom: 16px;          
          @include box-shadow(0, 8px, 32px, rgba($black, .15));
                      
          .card-header {
            h2 {
              margin-bottom: 0;
            }
          }
          
          .card-body {
            form {
              margin-bottom: 0;
              
              .form-group {
                #first-name-input {
                  margin-bottom: 16px;
          
                  @media (min-width: $screen-sm-min) {
                    margin-bottom: 0;
                  }
                }
                
                &.submit {
                  margin-bottom: 0;
                  padding-top: 16px;
                  border-top: 1px solid $grey-300;
                }
                
                .form-control {
                  &.is-invalid {
                    border-color: $red-400;
                  }
                }
              }
            }
          }
        }
        
        span.legal {
          color: rgba($white, .5);
        }
      }
    }
  }
