@import url("../../libraries/bootstrap-4.0.0-beta.3-dist/css/bootstrap.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
body { color: #000000; font-family: "Source Sans Pro", sans-serif; font-weight: 300; }
body h1 { font-weight: 200; }
body h2 { color: #919191; font-size: 12px; font-weight: 600; letter-spacing: 1.5px; line-height: 1.5; text-transform: uppercase; }
body p.lead { font-weight: 200; }
body small { font-weight: inherit; font-size: 14px; }
body .btn { font-weight: 400 !important; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)  !important; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)  !important; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)  !important; }
body .btn:hover { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)  !important; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)  !important; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)  !important; }
body .btn:active { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)  !important; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)  !important; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)  !important; }
body .btn:focus { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)  !important; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)  !important; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)  !important; }
body .btn.btn-success { border-color: #168f48; background-color: #1aaa55; }
body .btn.btn-success:hover { border-color: #12753a; }
body .btn.btn-success:active { background-color: #168f48 !important; border-color: #0e5a2d; }
body .btn.btn-outline-light { border-color: rgba(255, 255, 255, 0.25); -webkit-box-shadow: 0 0 0 transparent  !important; -moz-box-shadow: 0 0 0 transparent  !important; box-shadow: 0 0 0 transparent  !important; }
body .btn.btn-outline-light:hover { color: #ffffff !important; background-color: transparent; border-color: #ffffff; }
body .btn.btn-outline-light:active { background-color: transparent !important; }
body form .form-group label { font-weight: 400; }
body form .form-group label.form-check-label { font-weight: 300; }
body form .form-group label.error { margin: 8px 0 0 0; color: #e15139; font-size: 12px; font-weight: 300 !important; }
body form .form-group input[type="text"], body form .form-group input[type="email"], body form .form-group textarea { -webkit-box-shadow: 0 1px 2px rgba(204, 204, 204, 0.25) inset !important; -moz-box-shadow: 0 1px 2px rgba(204, 204, 204, 0.25) inset !important; box-shadow: 0 1px 2px rgba(204, 204, 204, 0.25) inset !important; background-color: #fafafa; }
body form .form-group input[type="text"].is-invalid, body form .form-group input[type="email"].is-invalid, body form .form-group textarea.is-invalid { color: #e15139; -webkit-box-shadow: 0 1px 2px rgba(225, 81, 57, 0.25) inset !important; -moz-box-shadow: 0 1px 2px rgba(225, 81, 57, 0.25) inset !important; box-shadow: 0 1px 2px rgba(225, 81, 57, 0.25) inset !important; background-color: #fef6f5; }
body form .form-group input[type="text"].is-invalid::placeholder, body form .form-group input[type="email"].is-invalid::placeholder, body form .form-group textarea.is-invalid::placeholder { color: #e15139; }
body form .form-group select { -webkit-box-shadow: 0 1px 2px rgba(204, 204, 204, 0.25)  !important; -moz-box-shadow: 0 1px 2px rgba(204, 204, 204, 0.25)  !important; box-shadow: 0 1px 2px rgba(204, 204, 204, 0.25)  !important; }
body form .form-group select:focus { -webkit-box-shadow: 0 1px 2px rgba(204, 204, 204, 0.25)  !important; -moz-box-shadow: 0 1px 2px rgba(204, 204, 204, 0.25)  !important; box-shadow: 0 1px 2px rgba(204, 204, 204, 0.25)  !important; }
body form .form-group select.is-invalid { -webkit-box-shadow: 0 1px 2px rgba(225, 81, 57, 0.25)  !important; -moz-box-shadow: 0 1px 2px rgba(225, 81, 57, 0.25)  !important; box-shadow: 0 1px 2px rgba(225, 81, 57, 0.25)  !important; }
body form .form-group input[type="text"], body form .form-group input[type="email"], body form .form-group textarea, body form .form-group select { font-weight: 300; border-color: #cccccc; }
body form .form-group input[type="text"]:focus, body form .form-group input[type="email"]:focus, body form .form-group textarea:focus, body form .form-group select:focus { border-color: #919191; }
body form .form-group input[type="text"].is-invalid, body form .form-group input[type="email"].is-invalid, body form .form-group textarea.is-invalid, body form .form-group select.is-invalid { border-color: #e15139; }
body .card { border: none; }
body .card .card-header { background-color: #fafafa; border-bottom-color: #cccccc; }
body .card .card-footer { background-color: #fafafa; border-top-color: #cccccc; }
body .wrapper { width: 100%; height: 100%; padding: 16px 0; position: fixed; overflow: scroll; overflow-y: scroll; -webkit-overflow-scrolling: touch; background-repeat: repeat-x; background-image: -webkit-linear-gradient(180deg, #1A1A40, #805DE7); background-image: -o-linear-gradient(180deg, #1A1A40, #805DE7); background-image: linear-gradient(180deg, #1A1A40, #805DE7); }
@media (min-width: 576px) { body .wrapper { padding: 24px 0; } }
@media (min-width: 768px) { body .wrapper { padding: 32px 0; } }
@media (min-width: 992px) { body .wrapper { padding: 48px 0; } }
@media (min-width: 1200px) { body .wrapper { padding: 64px 0; } }
body a#more-information-toggle:after { content: " More"; }
body a#more-information-toggle.expanded:after { content: " Less"; }
body .container-fluid .row .column-primary h2 { color: rgba(255, 255, 255, 0.5); }
body .container-fluid .row .column-primary header { margin-bottom: 12px; }
@media (min-width: 576px) { body .container-fluid .row .column-primary header { margin-bottom: 16px; } }
@media (min-width: 768px) { body .container-fluid .row .column-primary header { margin-bottom: 24px; } }
body .container-fluid .row .column-primary header .btn { margin-top: 12px; border: none; }
body .container-fluid .row .column-primary .title-container { margin-bottom: 0; }
body .container-fluid .row .column-primary .metadata-container { padding-top: 16px; border-width: 1px 0; border-style: solid; border-color: rgba(255, 255, 255, 0.25); margin-bottom: 16px; }
@media (min-width: 576px) { body .container-fluid .row .column-primary .metadata-container { margin-bottom: 24px; } }
@media (min-width: 768px) { body .container-fluid .row .column-primary .metadata-container { margin-bottom: 32px; } }
body .container-fluid .row .column-primary .metadata-container .date-container, body .container-fluid .row .column-primary .metadata-container .time-container { padding-bottom: 16px; }
body .container-fluid .row .column-primary .metadata-container .date-container .media, body .container-fluid .row .column-primary .metadata-container .time-container .media { float: left; margin-right: 12px; }
body .container-fluid .row .column-primary .metadata-container .date-container .media img, body .container-fluid .row .column-primary .metadata-container .time-container .media img { position: relative; top: 4px; left: -2px; }
body .container-fluid .row .column-primary .metadata-container .date-container .info h2, body .container-fluid .row .column-primary .metadata-container .time-container .info h2 { margin: 0; }
body .container-fluid .row .column-primary .description-container { margin-bottom: 16px; }
@media (min-width: 576px) { body .container-fluid .row .column-primary .description-container { margin-bottom: 24px; } }
@media (min-width: 768px) { body .container-fluid .row .column-primary .description-container { margin-bottom: 32px; } }
body .container-fluid .row .column-primary .presenter-container { margin-bottom: 16px; }
@media (min-width: 576px) { body .container-fluid .row .column-primary .presenter-container { margin-bottom: 24px; } }
@media (min-width: 768px) { body .container-fluid .row .column-primary .presenter-container { margin-bottom: 0; } }
body .container-fluid .row .column-primary .presenter-container .card { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset !important; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset !important; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset !important; background-color: rgba(0, 0, 0, 0.15); }
body .container-fluid .row .column-primary .presenter-container .card .card-body .bio { margin-bottom: 20px; border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
body .container-fluid .row .column-primary .presenter-container .card .card-body .title img.avatar { width: 48px; margin-right: 16px; float: left; -webkit-background-clip: padding-box; -webkit-border-radius: 50% 50% 50% 50%; -moz-background-clip: padding-box; -moz-border-radius: 50% 50% 50% 50%; -o-background-clip: padding-box; -o-border-radius: 50% 50% 50% 50%; background-clip: padding-box; border-radius: 50% 50% 50% 50%; border: 2px solid #ffffff; }
body .container-fluid .row .column-primary .presenter-container .card .card-body .title h3 { margin: 0; font-size: 16px; font-weight: 400; line-height: 1.5; }
body .container-fluid .row .column-primary .presenter-container .card .card-body .title h4 { margin: 0; font-size: 16px; font-weight: 200; line-height: 1.5; }
body .container-fluid .row .column-secondary .card { margin-bottom: 16px; -webkit-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15)  !important; -moz-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15)  !important; box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15)  !important; }
body .container-fluid .row .column-secondary .card .card-header h2 { margin-bottom: 0; }
body .container-fluid .row .column-secondary .card .card-body form { margin-bottom: 0; }
body .container-fluid .row .column-secondary .card .card-body form .form-group #first-name-input { margin-bottom: 16px; }
@media (min-width: 576px) { body .container-fluid .row .column-secondary .card .card-body form .form-group #first-name-input { margin-bottom: 0; } }
body .container-fluid .row .column-secondary .card .card-body form .form-group.submit { margin-bottom: 0; padding-top: 16px; border-top: 1px solid #cccccc; }
body .container-fluid .row .column-secondary .card .card-body form .form-group .form-control.is-invalid { border-color: #e15139; }
body .container-fluid .row .column-secondary span.legal { color: rgba(255, 255, 255, 0.5); }
